*{
  margin: 0;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

.home-bar{
  display:flex;
  flex-direction: left;
  align-items: center;
  background: dodgerblue;
  width: 100vw;
  height: 12vh;
}

.card{
  display: flex;
  justify-content: space-between;
  color: black;
  background: lavender;
  height: 400px;
  width: 850px;
  margin-top: 12vh;
}

.button-txt{
  color: white
}

.home-txt{
  margin-left: 10vw;
  color: black;
}

.lots{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous{
  margin-top: 1vh;
  font-weight: bold;
  background-color: black;
  border: none;
  color: white;
  font-size:20px;
}

.next{
  margin-top: 1vh;
  font-weight: bold;
  background-color: black;
  border: none;
  color: white;
  font-size:20px;
}

.button{
  display: flex;
  justify-content: space-between;
  width: 850px;
}

.left-info{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person-name{
  display: flex;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline dodgerblue;
}

.person-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 20px;
}

.person-movies{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
}

.num-of-num{
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}